[Unit]
Description=OmniLink Bridge
After=network.target

[Service]
User=root
ExecStart=/usr/bin/mono-service --no-daemon /opt/OmniLinkBridge/OmniLinkBridge.exe
WorkingDirectory=/opt/OmniLinkBridge
Type=simple

[Install]
WantedBy=multi-user.target
